h1 {
  background-color: black;
  color: rgba(255, 255, 255, 0.801);
}
#spinner {
  display: none;
}
#error-text {
  display: none;
  background-color: rgba(207, 19, 19, 0.719);
  color: aliceblue;
}

#ul {
  list-style: none;
}
#container {
  border-radius: 3rem;
}
body {
  background-color: rgb(0, 114, 134);
  color: black;
}
#release-date {
  background-color: black;
}
